

<html>
<head runat="server">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    @Styles.Render("~/Content/css");
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Others")
    @Html.Label("Image:")
    @{ var imagePath = @"~/Content/img/profile.sm.jpg"; }
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <form id="form1" runat="server">
            <header class="main-header">
                <a href="#" class="logo">
                    <span class="logo-mini"><b>SM</b></span>
                    <span class="logo-lg"><b>Sample</b> Module</span>
                </a>
                <nav class="navbar navbar-static-top">

                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have No messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <!-- <li> start message -->
                                            <!-- <a href="#">
                                                <div class="pull-left">
                                                  <img src="Content/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                  Support Team
                                                  <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                              </a>
                                            </li>-->
                                            <!-- end message -->

                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#"></a></li>
                                </ul>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 0 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <!-- <li>
                                               <a href="#">
                                                 <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                               </a>
                                             </li>-->

                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#"></a></li>
                                </ul>
                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have No tasks</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <!--  <li><!-- Task item -->
                                            <!--   <a href="#">
                                                 <h3>
                                                   Design some buttons
                                                   <small class="pull-right">20%</small>
                                                 </h3>
                                                 <div class="progress xs">
                                                   <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                     <span class="sr-only">20% Complete</span>
                                                   </div>
                                                 </div>
                                               </a>
                                             </li>-->
                                            <!-- end task item -->
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- <img src="Content/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                                    <span class="hidden-xs">  <asp:Literal ID="ltrWUserName" runat="server" />  </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header" style="background-color:#ffffff!important;max-height:105px!important">
                                        <!-- <img  class="img-circle" alt="User Image"> -->



                                        <br />
                                        <small> </small>
                                        <br />


                                    </li>
                                    <!-- Menu Body -->


                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>

                                <a href='' title="Home"><i class="fa fa-home"></i></a>
                            </li>
                            <li>
                                <!--    <asp:Literal ID="LtrPasswordChangeButton" runat="server" />-->
                                <a href='' title='Password Change'><i class='fa fa-wrench'></i></a>
                            </li>
                            <li>


                                <a href='' title='Sign Off'><i class='fa fa-sign-out'></i></a>

                            </li>


                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>


            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img scr="@Url.Content(@imagePath)" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p> </p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->

                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MAIN NAVIGATION</li>
                        <asp:Literal ID="LtrMenuDtl" runat="server" />
                        <!--  <li class="treeview">
                           <a href="#">
                             <i class="fa fa-laptop"></i> <span>Masters</span>
                             <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                             </span>
                           </a>
                           <ul class="treeview-menu">
                             <li><a href="/Master/UserMaster.aspx"><i class="fa fa-edit"></i> User Master</a></li>
                             <li><a href="/Master/EmployeeMaster.aspx"><i class="fa fa-edit"></i> Employee Master</a></li>
                            <li class="treeview">
                               <a href="#"><i class="fa fa-edit"></i> Level One
                                 <span class="pull-right-container">
                                   <i class="fa fa-angle-left pull-right"></i>
                                 </span>
                               </a>
                               <ul class="treeview-menu">
                                 <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                 <li class="treeview">
                                   <a href="#"><i class="fa fa-circle-o"></i> Level Two
                                     <span class="pull-right-container">
                                       <i class="fa fa-angle-left pull-right"></i>
                                     </span>
                                   </a>
                                   <ul class="treeview-menu">
                                     <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                     <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                   </ul>
                                 </li>
                               </ul>
                             </li>
                             <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                           </ul>
                         </li>
                          <li class="treeview">
                           <a href="#">
                             <i class="fa fa-laptop"></i> <span>Transactions</span>
                             <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                             </span>

                           </a>
                                </li>-->

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>


            <div class="content-wrapper">
                @RenderBody();
            </div>

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2020-2020 <a href="#">Bit Solution</a>.</strong> All rights
                reserved.
            </footer>

            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>

            </aside>

        </form>
    </div>




</body>
</html>